[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fonts/font-awesome"]
	path = fonts/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
	ignore = dirty
[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
	branch = release
	ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
	ignore = dirty
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
	ignore = dirty
[submodule "vim/bundle/indenthtml"]
	path = vim/bundle/indenthtml
	url = https://github.com/vim-scripts/indenthtml.vim
	ignore = dirty
[submodule "vim/bundle/todo.txt-vim"]
	path = vim/bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
	ignore = dirty
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
	ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = dirty
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
	ignore = dirty
[submodule "vim/bundle/vim-python-pep8-indent"]
	path = vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent
	ignore = dirty
[submodule "vim/bundle/vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
	ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
	ignore = dirty
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen
	ignore = dirty
[submodule "zsh-history-substring-search"]
	path = zfuncs/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
	ignore = dirty
[submodule "vim/bundle/apprentice"]
	path = vim/bundle/apprentice
	url = https://github.com/romainl/Apprentice
[submodule "zfuncs/z"]
	path = zfuncs/z
	url = https://github.com/rupa/z
	ignore = dirty
