[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
	ignore = dirty
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
	ignore = dirty
[submodule "vim/bundle/indenthtml"]
	path = vim/bundle/indenthtml
	url = https://github.com/vim-scripts/indenthtml.vim
	ignore = dirty
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
	ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
	ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = dirty
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
	ignore = dirty
[submodule "vim/bundle/vim-python-pep8-indent"]
	path = vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent
	ignore = dirty
[submodule "vim/bundle/vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
	ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
	ignore = dirty
[submodule "vim/bundle/vimtodo"]
	path = vim/bundle/vimtodo
	url = https://github.com/mivok/vimtodo
	ignore = dirty
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen
	ignore = dirty
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
	ignore = dirty
