Host irc
	User jacobirc

Host cc
	User jacob

Host cc irc
	HostName codechunk.net

Host lish
	HostName lish-dallas.linode.com
	User jpeddicord


Host *
	ControlMaster auto
	ControlPath ~/.ssh/ssh-%r@%h:%p
	HashKnownHosts no
	ServerAliveInterval 200

