Host irc
	User jacobirc

Host cc
	User jacob
	LocalForward 9090 localhost:9090

Host cc irc
	HostName codechunk.net

Host lish
	HostName dallas607.linode.com
	User jpeddicord

Host cse stdlinux
	HostName stdlinux.cse.ohio-state.edu
	User peddicor


Host *
	ControlMaster auto
	ControlPath ~/.ssh/ssh-%r@%h:%p
	GSSAPIAuthentication no
	HashKnownHosts no
	ServerAliveInterval 200

